h1{
    color: rgb(86, 65, 226);
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(23, 102, 95);
    padding: 50px;
    border: 5px solid black;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}